{% extends 'base.html.twig' %}

{% block title %}<title>Contact | PCAoF</title>{% endblock %}

{% block body %}
    <section class="container">
        <h2 class="m-4 text-center">Une question ? Envie de participer à <br>
                                    une colloque ? Contacter nous !</h2>
        <div class="bg-white p-5 contact-form">
            {{ form_start(our_form) }}

            <div class="form-group">
                {{ form_row(our_form.fullName, {'attr': {'class': 'form-control'}}) }}


            </div>
            <div class="form-group">
                {{ form_row(our_form.email, {'attr': {'class': 'form-control'}}) }}

            </div>
            <div class="form-group">
                {{ form_row(our_form.subject, {'attr': {'class': 'form-control'}}) }}

            </div>
            <div class="form-group">
                {{ form_row(our_form.message, {'attr': {'class': 'form-control'}}) }}

            </div>

            <div class="form-group">
                <input type="submit" value="Send" class="btn btn-lg btn-block btn-co py-3 px-5">
            </div>
            {{ form_end(our_form) }}
        </div>

        </div>
    </section>
{% endblock %}
