{% extends 'base.html.twig' %}

{% block title %}<title>Popular Culture Association of France</title>{% endblock %}

{% block body %}
    <div class=" container blocAvecToutDedans">
        <div class="blocPresentationAcceuil ">
            <p class="text-black text">PCAoF (Popular Culture Association of France) est une association qui regroupe des chercheurs et des amateurs et passionnés de culture populaire.</p>
            <p class="titreObj">Objectifs de l'association</p>
            <ul>
                <li>promouvoir et de développer les études et la recherche sur les cultures populaires (trans- et inter- nationales, disciplinaires, etc.)</li>
                <li>organiser des manifestations scientifiques et/ou grand public (colloques, séminaires, expositions, conférences, documentaires…)</li>
                <li>publier, de diffuser ou d’éditer des ouvrages scientifiques, essais, articles, comptes rendus, œuvres de fiction, traductions…</li>
            </ul>
        </div>
        {# Publication #}
        <div class="container LastPubliRevuesAccueil">
            <div class="blocLastPubliAcceuil">
                <div class ="blocBleu" id="blocBleuPubli">
                    <p class="lastNomAcceuil">Dernières publications</p>
                </div>
                {% for publication in publications %}
                    <a href="{{ path('details_publication', {'slug': publication.slug}) }}" id="publi-home" class="publi-hover">
                        <div class="publi-home-text">
                            <h2 id="titre-publi">{{ publication.title }}</h2>
                            <p>{{ publication.datePubli|date('d/m/Y') }}</p>
                        </div>
                    </a>
                {% endfor %}
            </div>
            {# Revue #}
            <div class="blocLastRevueAcceuil">
                <div class="blocBleu" id="blocBleuRevue">
                    <p class="lastNomAcceuil">Dernière Revue</p>
                </div>
                {% if revue is not null %}
                    <a href="{{ path('detail_revue', {'slug': revue.slug}) }}" id="revue-home">
                        <div id="revue-home-text">
                            <h1>{{ revue.id }}</h1>
                            <div id="revue-home-block1">
                                <h2>{{ revue.title }}</h2>
                                <p>{{ revue.datePubli|date('d/m/Y') }}</p>
                            </div>
                        </div>
                        {% if revue.imageName is not null %}
                            <img id="revue-home-img" src="{{ vich_uploader_asset(revue, 'imageFile') }}" alt="Logo revue">
                        {% endif %}
                    </a>
                {% endif %}
            </div>
        </div>
        {# Colloque #}
        <div class="blocLastColoqueAcceuil ">
            <div class  ="blocBleu" id="blocBleuColloque">
                <p class="lastNomAcceuil">Colloque à venir</p>
            </div>
            {% if colloque is not null %}
                <div class="container mt-4">
                    <h1 class="text-center">{{ colloque.name }} </h1>
                    <h4>Theme ...</h4>
                    <p>{{ colloque.description|u.truncate(200, ' ...', false) }}</p>
                    <p>Du {{ colloque.dateD|date('d/m/Y') }} au {{ colloque.dateF|date('d/m/Y') }}</p>
                    <p>Lieu : {{ colloque.place }}</p>
                    <a href="{{ path('details_colloque', {'slug':colloque.slug}) }}" class="align-top"><button type="button" class="btn btn-primary">Voir PLUS</button></a>
                </div>
            {% endif %}

        </div>
        <br>
    </div>
{% endblock %}
