{% extends 'base.html.twig' %}

{% block title %}Pcaof{% endblock %}

{% block body %}
    <div class=" container blocAvecToutDedans">
        <div class="blocPresentationAcceuil">
            <p class="text-black text">PCAoF (Popular Culture Association of France) est une association qui regroupe des chercheurs et des amateurs et passionnés de culture populaire.</p>
            <p class="titreObj">Objectifs de l'association</p>
            <ul>
                <li>promouvoir et de développer les études et la recherche sur les cultures populaires (trans- et inter- nationales, disciplinaires, etc.)</li>
                <li>organiser des manifestations scientifiques et/ou grand public (colloques, séminaires, expositions, conférences, documentaires…)</li>
                <li>publier, de diffuser ou d’éditer des ouvrages scientifiques, essais, articles, comptes rendus, œuvres de fiction, traductions…</li>
            </ul>
        </div>
{# Publication #}
        <div class="container LastPubliRevuesAccueil">
            <div class="blocLastPubliAcceuil">
                <div class ="blocBleu" id="blocBleuPubli">
                    <p class="lastNomAcceuil">Dernières publications</p>
                </div>
                {% for publication in publications %}
                <a href="" id="publi-home" class="publi-hover">
                    <div class="publi-home-text">
                            <h2 id="titre-publi">{{ publication.title }}</h2>
                            <p>{{ publication.datePubli|date('d/m/Y') }}</p>
                    </div>
                </a>
                {% endfor %}
                </div>
{# Revue #}
                <div class="blocLastRevueAcceuil">
                    <div class="blocBleu" id="blocBleuRevue">
                        <p class="lastNomAcceuil">Dernière Revue</p>
                    </div>
                    {% for revue in revues %}
                    <a href="" id="revue-home">
                        <div id="revue-home-text">
                            <h1>{{ revue.id }}</h1>
                            <div id="revue-home-block1">
                                <h2>{{ revue.title }}</h2>
                                <p>{{ revue.datePubli|date('d/m/Y') }}</p>
                            </div>
                        </div>
                        <img id="revue-home-img" src="http://assets.stickpng.com/images/58a050065583a1291368eeb4.png" alt="Logo revue">
                    </a>
                {% endfor %}
                </div>
        </div>
{# Colloque #}
        <div class="blocLastColoqueAcceuil ">
            <div class  ="blocBleu" id="blocBleuColloque">
                <p class="lastNomAcceuil">Colloque à venir</p>
            </div>
            {% for colloque in colloques %}
                <div class="container mt-4">
                    <h1 class="text-center">{{ colloque.name }} </h1>
                    <h4>Theme ...</h4>
                    <p>{{ colloque.description|u.truncate(200, ' ...', false) }}</p>
                    <p>Du {{ colloque.dateD|date('d/m/Y') }} au {{ colloque.dateF|date('d/m/Y') }}</p>
                    <p>Lieu : {{ colloque.lieu }}</p>
                    <a class="align-top"><button type="button" class="btn btn-primary">Voir PLUS</button></a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
