{% extends 'base.html.twig' %}

{% block title %}<title>Popular Culture Association of France</title>{% endblock %}

{% block body %}
    <div class="blocAvecToutDedans">
        <div class="blocPresentationAcceuil ">
            <p class="text-black text">PCAoF (Popular Culture Association of France) est une association qui regroupe des chercheurs et des amateurs et passionnés de culture populaire.</p>
            <p class="titreObj">Objectifs de l'association</p>
            <ul>
                <li>promouvoir et de développer les études et la recherche sur les cultures populaires (trans- et inter- nationales, disciplinaires, etc.)</li>
                <li>organiser des manifestations scientifiques et/ou grand public (colloques, séminaires, expositions, conférences, documentaires…)</li>
                <li>publier, de diffuser ou d’éditer des ouvrages scientifiques, essais, articles, comptes rendus, œuvres de fiction, traductions…</li>
            </ul>
        </div>
        {# Publication #}
        <div class="LastPubliRevuesAccueil">
            <div class="blocLastPubliAcceuil">
                <div class ="blocBleu blocBleuPubli">
                    <p class="lastNomAcceuil">Dernières publications</p>
                </div>
                {% for publication in publications %}
                    <a href="{{ path('details_publication', {'slug': publication.slug}) }}" id="publi-home" class="bloc-ombre">
                        <div class="publi-home-text">
                            <h2 class="titre-publi-revue">{{ publication.title }}</h2>
                            <p class ="dateAccueil">{{ publication.datePubli|date('d/m/Y') }}</p>
                        </div>
                    </a>
                {% endfor %}
            </div>
            {# Revue #}
            <div class="blocLastRevueAcceuil">
                <div class="blocBleu" id="blocBleuRevue">
                    <p class="lastNomAcceuil">Dernière Revue</p>
                </div>
                {% if revue is not null %}
                    <a href="{{ path('detail_revue', {'slug': revue.slug}) }}" id="revue-home" class ="bloc-ombre">
                        <div id="revue-home-text">
                            <div id="revue-home-block1">
                                <h2 class = titre-publi-revue>{{ revue.title }}</h2>
                                <p class ="dateAccueil">{{ revue.datePubli|date('d/m/Y') }}</p>
                            </div>
                        </div>
                        {% if revue.imageName is not null %}
                            <img id="revue-home-img" src="{{ vich_uploader_asset(revue, 'imageFile') }}" alt="Logo revue">
                        {% endif %}
                    </a>
                {% endif %}
            </div>
        </div>
        {# Colloque #}
        <div class="blocLastColoqueAcceuil ">
            <div class  ="blocBleu blocBleuColloque">
                <p class="lastNomAcceuil">Colloque à venir</p>
            </div>
            {% if colloque is not null %}
                <div id="colloque-home" class="bloc-ombre">
                    <p id="nom-colloque-home" class="nom-colloque">{{ colloque.name }} </p>
                    <div class ="bloc-colloque-theme-date-place-home">
                        <p>Theme ...</p>
                        <div class="bloc-colloque-date-place-home">
                            <p id="colloque-place-home">à  {{ colloque.place }}</p>
                            <p>Du {{ colloque.dateD|date('d/m/Y') }} au {{ colloque.dateF|date('d/m/Y') }}</p>

                        </div>
                    </div>
                    <p>{{ colloque.description|u.truncate(200, ' ...', false) }}</p>
                    <a href="{{ path('details_colloque', {'slug':colloque.slug}) }}" class="bouton-colloque-home"> Voir plus</a>
                </div>
            {% endif %}

        </div>
        <br>
    </div>
{% endblock %}