<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Style Theme -->
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">

    <!-- Fav Icon-->
    <link rel="icon" href="{{ asset('img/favicon/favicon-32x32.png') }}" sizes="32x32" />
    <link rel="icon" href="{{ asset('img/favicon/favicon-192x192.png') }}" sizes="192x192" />
    <link rel="apple-touch-icon" href="{{ asset('img/favicon/favicon-180x180.png') }}" />

    <title>{% block title %}Login PCAOF{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

</head>
<body class="d-flex flex-column h-100">
    <section class="vh-100">
        <div class="container-fluid">
            <div class="row">

                <div class="col-sm-6 px-0 d-none d-sm-block">
                    <img src="{{ asset('img/imgReset.jpg') }}" alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
                </div>

                <div class="col-sm-6 text-black d-flex flex-column align-items-center justify-content-center">

                    <div class="px-5 ms-xl4 m-4">
                        <a href="{{ path('home') }}"><img src="{{ asset('img/logo/logoColor.png') }}" class="img-fluid "></a>
                    </div>

                    <div class="d-flex flex-column align-items-center">
                        {% block body %}

                        {% endblock %}
                    </div>
                </div>

            </div>
        </div>
    </section>

<!-- SCRIPT JS -->
<link href="{{ asset('js/scripts.js') }}">
</body>
</html>
