{% extends 'base.html.twig' %}

{% block title %}<title>{{ colloque.name }} | PCAoF</title>{% endblock %}

{% block metaTag %}
        <meta name="description" content="Colloque {{ colloque.name }} : {{ colloque.description }}" />
        <link rel="canonical" href="http://pcaof.com/colloque/" />
        <meta property="og:locale" content="fr_FR" />
        <meta property="og:type" content="article" />
        <meta property="og:title" content="Details Colloque | PCAoF" />
        <meta property="og:description" content="Colloque {{ colloque.name }} : {{ colloque.description }}" />
        <meta property="og:url" content="http://pcaof.com/" />
        <meta property="og:site_name" content="PCAoF" />
{% endblock %}

{% block body %}
        <h1 class="text-center mt-4">Colloque de Popular Culture Association of France</h1>



        <h2 class="blocBleu blocBleuDetailColloque">{{ colloque.name }}</h2>
        <div class="bloc-ombre bloc-detail-colloque">
                {% if colloque.getIsPcaof() is not null %}
                        <img class="img-detail-colloque" src="{{ asset('img/logo/logoColor.png') }}" alt="logo pcaof">
                {% endif%}

                <p>{{ colloque.description }}</p>

                {% if (colloque.dateD|date('Y-m-d') >= 'now'|date('Y-m-d')) %}
                        <p class="event-detail-colloque">Cet événement est prévu à {{ colloque.place }} du {{ colloque.dateD|format_datetime(locale='fr',pattern="d MMMM Y") }} au
                                {{ colloque.dateD|format_datetime(locale='fr',pattern="d MMMM Y") }}</p>
                {% else %}
                        <p class="event-detail-colloque">Cet événement était prévu à {{ colloque.place }} du {{ colloque.dateD|format_datetime(locale='fr',pattern="d MMMM Y") }} au
                                {{ colloque.dateF|format_datetime(locale='fr',pattern="d MMMM Y") }}</p>
                {% endif %}

                <a class="button-cont-detail-colloque" href="{{ path('contact') }}">Y contribuer</a>

                {% if colloque.planningPdfName is not null %}
                        <iframe width="100%" height="500px" src="{{asset (vich_uploader_asset (colloque, 'planningPdfFile'))}}"></iframe>
                        <a href="{{asset (vich_uploader_asset (colloque, 'planningPdfFile'))}}" download>
                                <img src="{{ asset('img/telecharger.png') }}" width="50px">
                        </a>
                {% endif %}

                {% if colloque.revues is not null %}
                        <p><a href="{{ path('detail_revue',{'slug': revue.slug}) }}">Voir la revue</a></p>
                {% endif %}

                <div class="container">
                        <br><br><br>
                        <h5>Tags : </h5>
                        <h6>
                                {% for key in colloque.keyWords %}
                                        <span class="badge bg-primary text-white"><strong>{{key.word}}</strong></span>
                                {% endfor %}
                        </h6>
                </div>

        </div>
{% endblock %}
