{% extends 'base.html.twig' %}

{% block title %}Hello ColloqueController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Colloque(s) à venir</h1>
    {% for colloque in colloquesAsc %}
        {% if colloque.getOnLine() == 1 %}
            {% if (colloque.dateD|date('Y-m-d') >= 'now'|date('Y-m-d')) %}
                <div class="m-5 p-2 border">
                    <p>{{ colloque.name }}</p>
                    <p>Du {{ colloque.dateD|date('d/m/Y') }} au {{ colloque.dateF|date('d/m/Y') }}</p>
                    <p>à {{ colloque.lieu }}</p>
                    <p>Thème : {{ colloque.theme }}</p>
                    {% if colloque.getIsPcaof() == 1 %}
                        <img src="{{ asset('img/test.png') }}" alt="image de la revue" width="100px"
                             height="100px">
                    {% endif%}
                </div>
            {%  endif %}
        {% endif %}
    {% endfor %}

    <h1>Colloques déjà réalisées</h1>
    {% for colloque in colloquesDesc %}
        {% if colloque.getOnLine() == 1 %}
            {% if (colloque.dateD|date('Y-m-d') < 'now'|date('Y-m-d')) %}
                <div class="m-5 p-2 border">
                    <p>{{ colloque.name }}</p>
                    <p>Du {{ colloque.dateD|date('d/m/Y') }} au {{ colloque.dateF|date('d/m/Y') }}</p>
                    <p>à {{ colloque.lieu }}</p>
                    <p>Thème : {{ colloque.theme }}</p>
                    {% if colloque.getIsPcaof() == 1 %}
                        <img src="{{ asset('img/test.png') }}" alt="image de la revue" width="100px"
                             height="100px">
                    {% endif%}
                </div>
            {%  endif %}
        {% endif %}
    {% endfor %}
</div>
{% endblock %}
