{% extends 'base.html.twig' %}

{% block title %}Colloque{% endblock %}

{% block body %}
    <h1>Colloque</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ colloque.id }}</td>
            </tr>
            <tr>
                <th>DateD</th>
                <td>{{ colloque.dateD ? colloque.dateD|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DateF</th>
                <td>{{ colloque.dateF ? colloque.dateF|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ colloque.nom }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ colloque.lieu }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ colloque.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('colloque_index') }}">back to list</a>

    <a href="{{ path('colloque_edit', {'id': colloque.id}) }}">edit</a>

    {{ include('colloque/_delete_form.html.twig') }}
{% endblock %}
