<header>
    <div id="header-title">
        <a href={{ path('home') }}>
            <h2> Popular Culture Association of France</h2>
            <p>Association Française d'Etude des Cultures Populaires</p>
            <hr id="header-title-bar">
        </a>
        <img id="logo-header" src="{{ asset('img/logo/logoColor.png') }}" alt="Logo">
    </div>
    <nav class="navbar navbar-dark navbar-expand-lg py-lg-4" id="mainNav">
        <div class="container">
            <a class="navbar-brand text-uppercase d-lg-none text-expanded" href="{{ path('home') }}">
                <img class="d-lg-none d-xl-none d-xxl-none" src="{{ asset('img/logo/logoColor.png') }}">
            </a>
            <button  data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarResponsive">
                <span class="visually-hidden">Menu</span>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive" >
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('revues') }}">Revues</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('colloques') }}">Colloques</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('publications') }}">Publications</a>
                    </li>
                    <l class="nav-item dropdown">
                        <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">Association</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Association</a>
                            <a class="dropdown-item" href="#">Bureau</a>
                            <a class="dropdown-item" href="{{ path("adherants") }}">Devenir adherent</a>
                        </div>
                    </l>
                </ul>
            </div>
        </div>
    </nav>
</header>























