{% extends 'base.html.twig' %}

{% block title %}<title>Publication {{ publication.title}} | PCAoF</title>{% endblock %}

{% block metaTag %}
    <meta name="description" content="{{ publication.title }} : {{ publication.resume }}" />
    <link rel="canonical" href="http://pcaof.com/colloque/" />
    <meta property="og:locale" content="fr_FR" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Details Publication | PCAoF" />
    <meta property="og:description" content="{{ publication.title }} : {{ publication.resume }}" />
    <meta property="og:url" content="http://pcaof.com/publications" />
    <meta property="og:site_name" content="PCAoF" />
{% endblock %}

{% block body %}


<div class="bloc-ombre" id="bloc-publi-detail">
    <div id="nom-date-auteur-publi-detail">
        <div id="nom-date-publi-detail">
            <h1 class="text-center">{{ publication.title }}</h1>
            <p id="date-publi-detail">{{ publication.datePubli|format_datetime(locale='fr',pattern="d MMMM Y") }}</p>
        </div>
        <p id="auteur-publi-detail">De{% for auteur in publication.getPeople %}
         {{ auteur.firstName }} {{ auteur.name }}
        {%  endfor %}</p>
    </div>
    <div class="container img-publi">
        <img class="img-fluid" src="{{ asset(vich_uploader_asset (publication, 'imageFile')) }}">
    </div>
    <p>{{ publication.resume }}</p>
    <div id="bouton-tel-publi-detail">
        <a id="bouton-publi-detail" href="{{asset (vich_uploader_asset (publication, 'pdfFile'))}}" target="_blank">Lire la publication</a>
        <a id="tel-publi-detail" href="{{asset (vich_uploader_asset (publication, 'pdfFile'))}}" download><img src="{{ asset('img/telecharger.png') }}" width="50px" ></a>
    </div>
    <h5>Tags : </h5>
    <h6>
        {% for key in publication.keyWords %}
            <span class="badge bg-primary text-white"><strong>{{key.word}}</strong></span>
        {% endfor %}
    </h6>
</div>
{% endblock %}
