{% extends 'base.html.twig' %}

{% block title %}<title>Publication | PCAoF</title>{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1 class="text-center">Publications</h1>
    <hr id="revue-title-bar">
    {% for publication in publications %}
        <div class="bloc-ombre" id ="bloc-liste-publication">
            <a href="{{ path('details_publication', {'slug': publication.slug}) }}">
                <div id="nom-date-liste-publication">
                <p id="titre-liste-publication">{{ publication.title }}</p>
                <p id="date-liste-publication">{{ publication.datePubli|format_datetime(locale='fr',pattern="d MMMM Y") }}</p>
                </div>
                <div id="bloc-pdf-auteur-liste-publication">
                <p id="auteur-liste-publication">De
                    {% for auteur in publication.getPeople %}
                     {{ auteur.firstName }} {{ auteur.name }}
                    {%  endfor %}
                </p>
                {% if publication.pdfName is not null %}
                    <a href="{{asset (vich_uploader_asset (publication, 'pdfFile'))}}" download>
                        <img src="{{ asset('img/telecharger.png') }}" width="50px">
                    </a>
                {% endif %}
                </div>
            </a>
        </div>
    {% endfor %}
</div>
{% endblock %}
