{% extends 'base.html.twig' %}

{% block title %}<title>Publication | PCAoF</title>{% endblock %}

{% block metaTag %}
    <meta name="description" content="Publication des cultures populaires" />
    <link rel="canonical" href="http://pcaof.com/colloque/" />
    <meta property="og:locale" content="fr_FR" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Details Publication | PCAoF" />
    <meta property="og:description" content="Publication des cultures populaires" />
    <meta property="og:url" content="http://pcaof.com/publications" />
    <meta property="og:site_name" content="PCAoF" />
{% endblock %}

{% block body %}


    <div class="example-wrapper">
    <h1 id="Publication" class="text-center mt-4">Publications</h1>
    <hr id="revue-title-bar">
    {% for publication in publications %}
        <div class="bloc-ombre" id ="bloc-liste-publication">
            <a href="{{ path('details_publication', {'slug': publication.slug}) }}">
                <div id="nom-date-liste-publication">
                <p id="titre-liste-publication">{{ publication.title }}</p>
                <p id="date-liste-publication">{{ publication.datePubli|format_datetime(locale='fr',pattern="d MMMM Y") }}</p>
                </div>
                <div id="bloc-pdf-auteur-liste-publication">
                <p id="auteur-liste-publication">De
                    {% for auteur in publication.getPeople %}
                     {{ auteur.firstName }} {{ auteur.name }}
                    {%  endfor %}
                </p>
                {% if publication.pdfName is not null %}
                    <a href="{{asset (vich_uploader_asset (publication, 'pdfFile'))}}" download>
                        <img src="{{ asset('img/telecharger.png') }}" width="50px">
                    </a>
                {% endif %}
                </div>
            </a>
        </div>
    {% endfor %}
</div>
{% endblock %}
