{% extends 'base.html.twig' %}

{% block title %}<title>Revue | PCAoF</title>{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1 class="text-center">Revues</h1>
    <hr id="revue-title-bar">

    {% for revue in revues %}
            <a href="{{ path('detail_revue', {'slug': revue.slug}) }}" class="noHighlight">
                <div class="bloc-revue">
                    {% if revue.imageName is not null %}
                        <IMG src="{{ vich_uploader_asset(revue,'imageFile') }}" alt="image de la revue : {{ revue.imageName }}" width="150px">
                    {% endif %}
                    <div class="bloc-revue-infos-titre">
                        <h2>N°{{ loop.index }}  -- {{ revue.title }} --</h2>
                        <div class="bloc-revue-info">
                            <p class ="info-revue">{{ revue.getDatePubli()|date('d/m/Y') }}</p>
                            <p class ="info-revue">Nombre d'articles : {{ revue.getNbArticle(revue) }}</p>
                            <p class ="info-revue">Thème : {{ revue.theme }}</p>
                        </div>
                    </div>
                </div>
            </a>
    {% endfor %}

</div>
{% endblock %}