{% extends 'base.html.twig' %}

{% block title %}<title>Revue | PCAoF</title>{% endblock %}
{% block metaTag %}
    <meta name="description" content="La revue des cultures populaires" />
    <link rel="canonical" href="http://pcaof.com/revue/" />
    <meta property="og:locale" content="fr_FR" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Revue | PCAoF" />
    <meta property="og:description" content="La revue des cultures populaires" />
    <meta property="og:url" content="http://pcaof.com/revue/" />
    <meta property="og:site_name" content="PCAoF" />
{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1 id="Revues" class="text-center"><strong>Revues</strong></h1>
    <hr id="revue-title-bar">

    {% for revue in revues %}
            <a href="{{ path('detail_revue', {'slug': revue.slug}) }}" class="noHighlight">
                <div class="bloc-ombre" id="liste-bloc-revue">
                    <div class="block-img">
                        {% if revue.imageName is not null %}
                            <img src="{{ vich_uploader_asset(revue,'imageFile') }}" alt="image de la revue : {{ revue.imageName }}" width="150px">
                        {% endif %}
                    </div>
                    <div class="bloc-revue-infos-titre">
                        <h2 id="revue-titre"> {{ revue.title }} </h2>
                        <div class="bloc-revue-info">
                            <p class ="info-revue">{{ revue.getDatePubli()|date('d/m/Y') }}</p>
                            <p class ="info-revue">Nombre d'<strong>articles</strong> : {{ revue.getNbArticle(revue) }}</p>
                            <p class ="info-revue">Thème : {{ revue.theme }}</p>

                        </div>
                    </div>
                </div>
            </a>
    {% endfor %}

</div>
{% endblock %}