{% extends 'base.html.twig' %}

{% block title %}<title> Membre | PCAoF</title>{% endblock %}

{% block body %}
    <section>
        <p id="Bureau" class="text-center">Membres du bureau</p>
        <hr id="title-bar">
        <div id="liste-auteur-bureau">
        {% for person in persons %}
            {% if person.isOffice == 1 %}
                <div class="bloc-ombre" id="bloc-auteur-bureau">

                    {% if person.photoName is not null %}
                        <img class ="img-bureau" src="{{asset (vich_uploader_asset (person, 'photoFile'))}}" width="20%">
                    {% else %}
                        <img class="img-bureau" src="{{ asset('img/person.png') }}" width="20%">
                    {% endif %}

                    <p id="nom-bureau">{{ person.name }} {{ person.firstname }}</p>

                    {% if person.role is not null %}
                        <p>{{ person.role }}</p>
                    {% else %}
                        <p>Membre</p>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
        </div>
    </section>
{% endblock %}
