{% extends 'base.html.twig' %}

{% block title %}<title>Article | PCAoF</title>{% endblock %}
{% block metaTag %}
    <meta name="description" content="{{ article.title }} : {{ article.resume }}" />
    <link rel="canonical" href="http://pcaof.com/" />
    <meta property="og:locale" content="fr_FR" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Details Publication | PCAoF" />
    <meta property="og:description" content="{{ article.title }} : {{ article.resume }}" />
    <meta property="og:url" content="http://pcaof.com/publications" />
    <meta property="og:site_name" content="PCAoF" />
{% endblock %}
{% block body %}

<div class="bloc-ombre" id="bloc-publi-detail">
    <div id="nom-date-auteur-publi-detail">
        <div id="nom-date-publi-detail">
            <h1 class="text-center">{{ article.title }}</h1>
            <p id="date-publi-detail">Fait le {{ article.datePubli|format_datetime(locale='fr',pattern="d MMMM Y") }}</p>
        </div>
        <p id="auteur-publi-detail">De
            {% for person in article.getPeople() %}
                {{ person.name }} {{ person.firstName}},
            {% endfor %}
        </p>
    </div>
    <div class="container img-publi">
        {% if article.imageName is not null %}
            <img class="img-fluid" src="{{ asset(vich_uploader_asset (article, 'imageFile')) }}">
        {% endif %}
    </div>
    <p class="text-center">{{ article.resume }}</p>

    <div id="bouton-tel-publi-detail">
        {% if article.pdfName is not null %}
            <a id="bouton-publi-detail" href="{{asset (vich_uploader_asset (article, 'pdfFile'))}}" target="_blank"><p>Lire l'article</p></a>
        {% endif %}

        {% if article.pdfName is not null %}
            <a id="tel-publi-detail" href="{{asset (vich_uploader_asset (article, 'pdfFile'))}}" download>
                <img  src="{{ asset('img/telecharger.png') }}" width="50px">
            </a>
        {% endif %}
    </div>


</div>


{% endblock %}
