{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h2>{{ article.title }}</h2>
    <p>Fait le {{ article.datePubli|date('d/m/Y') }}</p>
    <p>Par
        {% for person in article.getPeople() %}
            {{ person.name }} {{ person.firstName}},
        {% endfor %}
    </p>
    <h3>Résumé</h3>
    <p>{{ article.resume }}</p>

    {% if article.pdfName is not null %}
        <a href="{{asset (vich_uploader_asset (article, 'pdfFile'))}}" target="_blank"><p>Lire l'article</p></a>
    {% endif %}

    {% if article.pdfName is not null %}
        <a href="{{asset (vich_uploader_asset (article, 'pdfFile'))}}" download>
            <img src="{{ asset('img/telecharger.png') }}" width="50px">
        </a>
    {% endif %}
</div>
{% endblock %}
