{% extends '@EasyAdmin/layout.html.twig' %}


{% block content %}
    <div class="container">

        <h1 class="mb-4 text-center">Administration PCAoF</h1>
        <div class="row">
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Revue
                                    <div class="h3 mb-0 font-weight-bold text-gray-800">{{ countAllRevue['value'] }}</div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-primary"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4 ">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Articles
                                    <div class="h3 mb-0 font-weight-bold text-gray-800">{{ countAllArticle['value'] }}</div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-success"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Colloques
                                    <div class="h3 mb-0 font-weight-bold text-gray-800">{{ countAllColloque['value'] }}</div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-info"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4 ">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Publications
                                    <div class="h3 mb-0 font-weight-bold text-gray-800">{{ countAllPublication['value'] }}</div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-warning"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-12">
                <p class="h3">Listes des Auteurs</p>
                <ul class="list-group">
                    {% for person in persons %}
                    <li class="list-group-item d-flex justify-content-between align-items-center text-center">
                        {{ person.firstName }} {{ person.name }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>


    </div>

{% endblock %}